<div class="modal fade" id="dsTrainings" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Data Science Training</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="card">
                <div class="card-header">
                    <h5 ><a href ="#" data-toggle="collapse" data-target="#st4ds">Statistics for Data Science - 10 Hours
                    <span><i class="fas fa-angle-down"></i></span></a>
                    </h5>
                </div>
                <div class="card-body collapse" id="st4ds">
                    <table class="table table-bordered table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>Day</th>
                                <th>Session</th>
                                <th>Topics</th>
                                <th>Exam</th>
                            </tr>
                        </thead>
                        <tbody>
           
                            <tr>
                                <td>01</td>
                                <td>Statistics for Data Science Part 1</td>
                                <td><li>Need of Statistics in Data Science</li>
                                   <li>Understanding the Statistics Terminologies</li>
                                   <li>Measures of Central Tendency in Data</li>
                                   <li>Measures of Dispersion</li>
                                   <li>Understanding Skewness in Data</li>
                                   </td>
                                <td></td>
                            </tr>
                            <tr>
                               <td>02</td>
                               <td>Statistics for Data Science Part 2</td>
                               <td><li>Probability Concepts
                                   </li>
                                  <li>Conditional Probability</li>
                                  <li>Bayes’ Theorem</li>
                                 
                                  </td>
                               <td>10 min 10 questions</td>
                           </tr>
                           <tr>
                               <td>03</td>
                               <td>Statistics for Data Science Part 3</td>
                               <td><li>Practice Problems on Bayes' Theorem
                                   </li>
                                  <li>Probability Distributions</li>
                                                     
                                  </td>
                               <td>10 min 10 questions</td>
                           </tr>
                           <tr>
                               <td>04</td>
                               <td>Statistics for Data Science Part 4</td>
                               <td><li>Confidence Interval
                                   </li>
                                  <li>Significance Level</li>
                                  <li>Hypothesis Testing</li>
                                  </td>
                               <td>10 min 10 questions</td>
                           </tr>
                           <tr>
                               <td>05</td>
                               <td>Statistics for Data Science Part 5</td>
                               <td><li>Central Limit Theorem
                                   </li>
                                  <li>Introduction to Analysis of Variance - ANOVA</li>
                                 
                                  </td>
                               <td>10 min 10 questions</td>
                           </tr>
           
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5 ><a href ="#" data-toggle="collapse" data-target="#py4ds">Python for Data Science - 8 Hours
                    <span><i class="fas fa-angle-down"></i></span></a>
                    </h5>
                </div>
                <div class="card-body collapse" id="py4ds">
                    <table class="table table-bordered table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>Day</th>
                                <th>Session</th>
                                <th>Topics</th>
                                <th>Exam</th>
                            </tr>
                        </thead>
                        <tbody>
           
                            <tr>
                                <td>01</td>
                                <td>Python for Data Science Part 1</td>
                                <td><li>Python basics</li>
                                   <li>Data Structures in Python</li>
                                   <li>Control and Loop Statements in Python</li>
                                  
                                   </td>
                                <td></td>
                            </tr>
                            <tr>
                               <td>02</td>
                               <td>Python for Data Science Part 2</td>
                               <td><li>Functions & Classes in Python
                                   </li>
                                  <li>Working with Data</li>
                                 
                                  </td>
                               <td>10 min 10 questions</td>
                           </tr>
                           <tr>
                               <td>03</td>
                               <td>Python for Data Science Part 3</td>
                               <td><li>Pandas and NumPy
                                   </li>
                                  <li>Data Load from different sources like local directory, from URL link, JSON etc. (Import & Export)</li>
                                       <li>Indexing</li>
                                       <li>
                                        Selection and Filtering Sorting & Summarizing
                                       </li>  
                                       <li>
                                        Descriptive Statistics
                                       </li>            
                                  </td>
                               <td>10 min 10 questions</td>
                           </tr>
                           <tr>
                               <td>04</td>
                               <td>Python for Data Science Part 4</td>
                               <td><li>Combining and Merging Data Frames
                                   </li>
                                  <li>Removing Duplicates</li>
                                  <li>Discretization and Binning</li>
                                  <li>String Manipulation</li>
                                  </td>
                               <td>10 min 10 questions</td>
                           </tr>           
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h5 ><a href ="#" data-toggle="collapse" data-target="#ds4ds">Data Science – EDA, Visualization and Pre-processing – 10 Hours
                    <span><i class="fas fa-angle-down"></i></span></a>
                    </h5>
                </div>
                <div class="card-body collapse" id="ds4ds">
                    <table class="table table-bordered table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>Day</th>
                                <th>Session</th>
                                <th>Topics</th>
                                <th>Exam</th>
                            </tr>
                        </thead>
                        <tbody>
           
                            <tr>
                                <td>01</td>
                                <td>Exploration Data Analysis with Python
                                    </td>
                                <td><li>What is EDA?</li>
                                   <li>Processes in EDA</li>
                                   <li>Handling Data Types</li>
                                   <li>Missing Values</li> 
                                   <li>Outliers Detection</li>                                 
                                   </td>
                                <td></td>
                            </tr>
                            <tr>
                               <td>02</td>
                               <td>Visualization Part 1</td>
                               <td><li>Understanding different libraries and tools for visualization
                                   </li>
                                  <li>How to ask questions from data and visualize the result</li>
                                 <li>How to plot different graphs using python</li>
                                  </td>
                               <td>10 min 10 questions</td>
                           </tr>
                           <tr>
                               <td>03</td>
                               <td>Visualization Part 2</td>
                               <td><li>Case Study and generating report 
                                   </li>
                                         
                                  </td>
                               <td>10 min 10 questions</td>
                           </tr>
                           <tr>
                               <td>04</td>
                               <td>Data Pre-processing Part 1</td>
                               <td><li>Different Operations done during data pre-processing
                                   </li>
                                  <li>Feature Engineering</li>
                                
                                  </td>
                               <td>10 min 10 questions</td>
                           </tr>  
                           <tr>
                            <td>05</td>
                            <td>Data Pre-processing Part 2</td>
                            <td><li>Data Preparation for Machine Learning Models
                                </li>
                               <li>Splitting Strategies</li>
                             <li>Sampling Techniques</li>
                               </td>
                            <td>10 min 10 questions</td>
                        </tr>  
                                 
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5 ><a href ="#" data-toggle="collapse" data-target="#ml4ml">Machine Learning | ML in Depth – 32 Hours
                    <span><i class="fas fa-angle-down"></i></span></a>
                    </h5>
                </div>
                <div class="card-body collapse" id="ml4ml">
                    <table class="table table-bordered table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>Day</th>
                                <th>Session</th>
                                <th>Topics</th>
                                <th>Exam</th>
                            </tr>
                        </thead>
                        <tbody>
           
                            <tr>
                                <td>01</td>
                                <td>Introduction to ML
                                    </td>
                                <td><li>Types: Supervised vs Un-supervised</li>
                                   <li>Parametric vs Non-Parametric</li>
                                   <li>ML life cycle – steps involved in Model building</li>
                                   <li>Performance Metrics using in ML</li> 
                                   <li>Confusion Matrix (Statistical Concept)</li>                                 
                                   </td>
                                <td></td>
                            </tr>
                            <tr>
                               <td>02</td>
                               <td>Regression Analysis</td>
                               <td><li>Covariance and Correlation
                                   </li>
                                  <li>Coefficient of determination R-square</li>
                                 <li>Adjusted r-square</li>
                                 <li>Multicollinearity</li>
                                 <li>Linearity vs Non-Linearity</li>
                                  </td>
                               <td>10 min 10 questions</td>
                           </tr>
                           <tr>
                               <td>03</td>
                               <td>Linear Regression</td>
                               <td><li>Types of Problems we deal in Linear Regression 
                                   </li>
                                   <li>Assumptions of Linear Regression</li>
                                        <li>Best fit Line and its significance in Linear Regression</li>
                                    <li>How to draw best fit line</li> 
                                    <li>Performance metrics SSE, MSAE, RMSE etc.</li>
                                  </td>
                               <td>10 min 10 questions</td>
                           </tr>
                           <tr>
                               <td>04</td>
                               <td>Project in Linear Regression</td>
                               <td><li>Step by step approach to build models in linear regression
                                   </li>
                                 
                                  </td>
                               <td>10 min 10 questions</td>
                           </tr>  
                           <tr>
                            <td>05</td>
                            <td>Logistic Regression</td>
                            <td><li>Linear to Logistic Regression Transformation
                                </li>
                               <li>Mathematics behind the logistic regression</li>
                             <li>What is log of odds</li>
                             <li>Log-likelihood</li>
                             <li>What is maximizing the log-likelihood</li>
                               </td>
                            <td>10 min 10 questions</td>
                        </tr>  
                        <tr>
                            <td>06</td>
                            <td>Project in Logistic Regression</td>
                            <td><li>Step by step approach to build models in Logistic Regression
                                </li>
                            
                               </td>
                            <td>10 min 10 questions</td>
                        </tr>  
                        <tr>
                            <td>07</td>
                            <td>Overfitting and Underfitting</td>
                            <td><li>Overfitting and Underfitting
                                </li>
                               <li>Techniques to overcome overfitting problem</li>
                             <li>Bias-variance trade off</li>
                             <li>Regularization</li>
                          
                               </td>
                            <td>10 min 10 questions</td>
                        </tr>  
                        <tr>
                            <td>08</td>
                            <td>KNN</td>
                            <td><li>K-nearest neighbour algorithm
                                </li>
                               <li>Techniques to select the optimal k value</li>
                             <li>What is meant by neighbours in KNN</li>
                            
                               </td>
                            <td>10 min 10 questions</td>
                        </tr>
                        <tr>
                            <td>09</td>
                            <td>Project in KNN</td>
                            <td><li>Project in KNN
                                </li>
                               
                               </td>
                            <td>10 min 10 questions</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>Decision Tree</td>
                            <td><li>What is Decision Tree and how to interpret it
                                </li>
                                <li>Decision Tree formation criteria</li>
                               <li>Gini Index and Gini Impurity</li>
                               <li>Entropy and Information Gain</li>
                               <li>Criteria to split a node</li>
                               <li>Tree pruning techniques</li>
                               </td>
                            <td>10 min 10 questions</td>
                        </tr>  
                        <tr>
                            <td>11</td>
                            <td>Project using DT</td>
                            <td><li>Project using DT
                                </li>
                               
                               </td>
                            <td>10 min 10 questions</td>
                        </tr>  
                        <tr>
                            <td>12</td>
                            <td>k-fold cross validation</td>
                            <td><li>k-fold cross validation
                                </li>
                                <li>Model Tuning</li>                              
                               </td>
                            <td>10 min 10 questions</td>
                        </tr>  
                        <tr>
                            <td>13</td>
                            <td>SVM</td>
                            <td><li>What is Support vectors Machine
                                </li>
                                <li>Understanding support vectors</li>   
                                <li>Kernel concepts</li> 
                                <li>Hyperparameters in SVM</li>                          
                               </td>
                            <td>10 min 10 questions</td>
                        </tr>  
                        <tr>
                            <td>14</td>
                            <td>Project using SVM</td>
                            <td><li>Project using SVM
                                </li>
                                                       
                               </td>
                            <td>10 min 10 questions</td>
                        </tr> 
                        <tr>
                            <td>15</td>
                            <td>Ensemble Techniques and Random Forest</td>
                            <td><li>Bagging
                                </li>
                                  <li>Boosting</li> 
                                  <li>Random Forest</li>                    
                               </td>
                            <td>10 min 10 questions</td>
                        </tr>  
                        <tr>
                            <td>16</td>
                            <td>Project using Random Forest</td>
                            <td><li>Applying Random Forest
                                </li>
                                  <li>Applying Boosting techniques like adaboost and xgboost</li> 
                                                  
                               </td>
                            <td>10 min 10 questions</td>
                        </tr>  
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Natural Language Processing</h5>           
          </div>
          <div class="modal-body">           
                <div class="card">
                    <div class="card-header">
                        <h5 ><a href ="#" data-toggle="collapse" data-target="#nlp4nlp">NLP in depth – 30 Hours
                        <span><i class="fas fa-angle-down"></i></span></a>
                        </h5>
                    </div>
                    <div class="card-body collapse" id="nlp4nlp">
                        <table class="table table-bordered table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th>Day</th>
                                    <th>Session</th>
                                    <th>Topics</th>
                                    <th>Exam</th>
                                </tr>
                            </thead>
                            <tbody>
               
                                <tr>
                                    <td>01</td>
                                    <td>NLP Introduction
                                        </td>
                                    <td><li>Types of problems solved using NLP</li>
                                       <li>Working with Text</li>
                                       <li>Regular Expressions for pattern searching in text</li>
                                       <li>File Parsers</li>                                                                  
                                       </td>
                                    <td></td>
                                </tr>
                                <tr>
                                   <td>02</td>
                                   <td>Introducing NLP concepts and Techniques</td>
                                   <td><li>
                                    Tokenization</li>
                                    <li>Lemmatization </li>
                                    <li>Stop Words </li>
                                    <li>Punctuations </li>
                                    <li>Phrase Matching </li>
                                    <li>Named Entity Recognition - NER </li>
                                    <li>Parts of Speech Tagging – POS </li>
                                    <li>Topic Modelling </li>
                                      </td>
                                   <td>10 min 10 questions</td>
                               </tr>
                               <tr>
                                   <td>03</td>
                                   <td>NLP Libraries Introduction</td>
                                   <td><li>NLTK, spaCy, Etc. 
                                       </li>
                                       <li>Installation and Environment setup</li>
                                            
                                      </td>
                                   <td>10 min 10 questions</td>
                               </tr>
                               <tr>
                                   <td>04</td>
                                   <td>Text Pre-processing using spaCy</td>
                                   <td><li>Tokenization in detail
                                       </li>
                                     <li>Lemmatization</li>
                                     <li>Stop word removal</li>
                                     <li>Punctuation removal</li>
                                     <li>Phrase Matching using spaCy</li>
                                      </td>
                                   <td>10 min 10 questions</td>
                               </tr>  
                               <tr>
                                <td>05</td>
                                <td>Parts of Speech Tagging and Named Entity Recognition</td>
                                <td><li>POS using spacy
                                    </li>
                                   <li>POS visualization</li>
                                 <li>NER using spaCy</li>
                                 <li>NER visualization</li>
                                 
                                   </td>
                                <td>10 min 10 questions</td>
                            </tr>  
                            <tr>
                                <td>06</td>
                                <td>Feature Extraction Techniques</td>
                                <td><li>Count Vectorizer
                                    </li>
                                    <li>Tf-idf vectorizer</li>
                                <li>Word2vec</li>
                                   </td>
                                <td>10 min 10 questions</td>
                            </tr>  
                            <tr>
                                <td>07</td>
                                <td>Text classification Project</td>
                                <td><li>Text classification project using spacy and sckit-learn
                                    </li>
                                 
                                   </td>
                                <td>10 min 10 questions</td>
                            </tr>  
                            <tr>
                                <td>08</td>
                                <td>Semantics and sentiment analysis Project</td>
                                <td><li>Sentiment analysis using NLTK
                                    </li>
                                 
                                   </td>
                                <td>10 min 10 questions</td>
                            </tr>
                            <tr>
                                <td>09</td>
                                <td>Topic Modelling</td>
                                <td><li>Overview of Topic Modelling
                                    </li>
                                   <li>Latent Dirchlet Allocation Overview</li>
                                   <li>LDA with Python</li>
                                   <li>Matrix Factorization</li>
                                   <li>Topic Modelling Project</li>
                                   </td>
                                <td>10 min 10 questions</td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>Deep Learning for NLP</td>
                                <td><li>Introduction to DL for NLP
                                    </li>
                                    <li>Basic Perceptron Model</li>
                                   <li>Neural Networks know-how</li>
                                   <li>Understanding keras</li>
                                
                                   </td>
                                <td>10 min 10 questions</td>
                            </tr>  
                            <tr>
                                <td>11</td>
                                <td>RNN and LSTM</td>
                                <td><li>Overview of Recurrent Neural Network
                                    </li>
                                   <li>Intro to Text generation using LSTM</li>
                                   </td>
                                <td>10 min 10 questions</td>
                            </tr>  
                            <tr>
                                <td>12</td>
                                <td>Project- Text generation</td>
                                <td><li>Text generation using LSTM and Keras in python
                                    </li>
                                                          
                                   </td>
                                <td>10 min 10 questions</td>
                            </tr>  
                            <tr>
                                <td>13</td>
                                <td>Chat Bot Implementation</td>
                                <td><li>Chat bot implementation from scratch
                                    </li>
                                                         
                                   </td>
                                <td>10 min 10 questions</td>
                            </tr>  
                            <tr>
                                <td>14</td>
                                <td>Transformers</td>
                                <td><li>Introduction to Transformers 
                                    </li>
                                             <li>Transformers based models</li>              
                                   </td>
                                <td>10 min 10 questions</td>
                            </tr> 
                            <tr>
                                <td>15</td>
                                <td>Introduction to pre-trained models for NLP tasks</td>
                                <td><li>BERT and its variants
                                    </li>
                                      <li>GPT and its variant</li> 
                                      <li>Huggingface</li>   
                                      <li>AutoNLP</li>     
                                      <li>AllenNLP</li>            
                                   </td>
                                <td>10 min 10 questions</td>
                            </tr>  
                            <tr>
                                <td>16</td>
                                <td>Project using Random Forest</td>
                                <td><li>Applying Random Forest
                                    </li>
                                      <li>Applying Boosting techniques like adaboost and xgboost</li> 
                                                      
                                   </td>
                                <td>10 min 10 questions</td>
                            </tr>  
                            </tbody>
                        </table>
                    </div>
                </div>
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>&nbsp &nbsp;
          <button type="button" class="btn btn-primary" onclick="javascript:location.href='/contact'">Get in Touch</button>
        </div>
      </div>
    </div>
  </div>