<!-- Modal -->
<div class="modal fade" id="interviewModel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Schedule Interviews</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="inputEmail4">First Name</label>
                  <input type="text" class="form-control" placeholder="First name">
                </div>
               
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="inputEmail4">Last Name</label>
                    <input type="text" class="form-control" placeholder="Last name">
                </div>
                
              </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="inputEmail4">Email</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
              </div>
              
            </div>
            
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="inputTb">Technical Background</label>
                <textarea class="form-control" rows="5" id="tbComment"></textarea>
              </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="inputTb">If you have specific Job Desciption paste It (Will make you practice for that JD)</label>
                  <textarea class="form-control" rows="5" id="tbComment"></textarea>
                </div>
                </div>
            <button type="submit" class="btn btn-info">Submit</button>
          </form>
        
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-info">Submit</button>
        </div>
      </div>
    </div>
  </div>