<div class="card">
    <div class="card-header text-center">
       <h4><b>Our Services</b></h4> 
    </div>

<div class="card-deck text-center">
<div class="card">
  <img class="card-img-top mx-auto" src="/static/images/MI1.png" style="width: 345px;height: 200px;" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Mock Interviews</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
  </div>
  <div class="card-footer">
    <small class="text-muted"><button type="button" class="btn btn-info" data-toggle="modal" data-target="#interviewModel">Schedule</button></small>
  </div>
</div>
<div class="card">
  <img class="card-img-top mx-auto" src="/static/images/ML.png"style="width: 345px;height: 200px;" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">ML Demos</h5>
    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
  </div>
  <div class="card-footer">
    <small class="text-muted"><button type="button" class="btn btn-info" onclick="window.location.href='/demo-models'">Demos</button></small>
  </div>
</div>
<div class="card">
  <img class="card-img-top mx-auto" src="/static/images/training.png"style="width: 345px;height: 200px;" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">ML Trainings</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
  </div>
  <div class="card-footer">
    <small class="text-muted"><button type="button" class="btn btn-info" data-toggle="modal" data-target="#dsTrainings">Explore Trainings</button></small>
  </div>
</div>
</div>
</div>